body{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    height: 1000px;
    padding: 0;
    margin: 0;
}
.header{
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s ease-in-out, position 0.3s ease-in-out;
}
.fixedHeader {
    position: fixed;
    background-color: rgb(255, 255, 255);
    padding: 0 !important;
}
.fixedHeader .sloganHeader .titleName p{
    color: rgb(2 2 123);
    font-weight: bold;
}
.buttonCotizarHeaderDiv{
    padding-right: 20px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonCotizarHeader{
    background-color: rgb(39 105 229);
    color: white;
    padding: 10px 60px;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
};
#buttonCotizarHeaderDiv {
    display: block;
}
.hide {
    display: none;
}

footer{
    background-color: #0c3c94;
    height: auto;
    position: relative;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.sloganHeader{
    height: 80px;
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: end;
    padding: 0 30px;
}
.titleName{
    font-size: 17px;
    width: 70px;
}
.andina{
    font-weight: 700;
}
.imageHeaderDiv{
    padding-top: 5px;
}
.imageHeader{
    height: 50px;
}
.firstImageDiv {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(12, 12, 12)), url("/public/img/car.jpg");
    background-size: cover; 
    background-position: center; 
    width: 100%; 
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.firstTitleDiv {
    position: absolute;
    top: 75%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    width: 100%;
}
.textfirstTitle{
    padding: 0 30px;
    text-align: start;
    font-weight: bold;
    font-size: 30px;
}

.whatsappDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}
.whatsappDivMobile{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.cotizaTuAuto{
    color: rgb(2 2 123);
    font-size: 25px;
    height: 20px;
    font-weight: bold;
}
.buttonWsp{
    background-color: #3ddc5d;
    border: none;
    padding: 10px 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    color:white;
    font-size: 18px;
    cursor: pointer;
}
.imgWsp{
    width: 20px;
    padding-right: 5px;
}
.contactate{
    padding-top: 10px;
}
.formContainer{
    background-color: white;
    position: absolute;
    right: 5%;
    padding: 10px 30px;
    border-radius: 15px;
    display: none;
}


.formContainerMobile{
    padding: 0 30px;
    display: block;
}
.nameInputForm{
    height: 15px;
}
.inputForm {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px; 
    padding: 5px;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="gray" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); /* Agrega una flecha personalizada */
    background-repeat: no-repeat; 
    background-position: right center;
    padding-right: 25px;
}
.inputForm:focus {
    outline: none; 
    border-color: #007bff;
}
.botonSiguienteDiv{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
}
.buttonSiguiente{
    background-color: rgb(39 105 229);
    border: none;
    padding: 12px 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    color:white;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
}
.tercerDiv{
    padding: 0 30px;
}
.incluyenDiv{
    width: 100%;
    padding-bottom: 20px;
}
.incluyenTitle{
    color: rgb(2 2 123);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.tiposIncluyenContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.tiposIncluyenDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imgIncluyen{
    width: 70px;
}
.titleTipos{
    height: 10px;
    padding: 0;
    margin: 5px 0;
}
.aclaracionCobertura{
    padding: 20px 0;
    text-align: center;
}
.cuartoDiv{
    background-color: rgb(235 234 234);
    height: 100%;
    padding: 20px 30px 40px 30px;
}
.encontraTitle{
    color: rgb(2 2 123);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.opcionesCotizacionContainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
.opcionesCotizacion{
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}
.opcionesCotizacion p{
    color: rgb(2 2 123);
    font-size: 18px;
    font-weight: bold;
}
.opcionesCotizacion ul{
    margin: 0;
    padding: 0px 20px;
}
.opcionesCotizacion ul li {
    margin-bottom: 10px;
}
.buttonCotizarDiv{
    width: 100%;
    text-align: center;
}
.buttonCotizar{
    margin-top: 10px;
    background-color: rgb(39 105 229);
    color: white;
    padding: 10px 60px;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}


.backgroundImage{
    position: absolute;
    height: 300px;
    width: 100%;
}
.backgroundImg{
    height: 100%;
    width: 70%;
    opacity: 0.2;
    object-fit: cover;
}


.contactContainer{
    width: 100%;
    height: 40%;
    color: white; 
    padding: 40px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px 0 40px
}
.contactDiv p{
    margin: 0;
    height: 30px;
}
.contactDiv p:first-of-type {
    font-weight: bold;
    font-size: 18px;
}
.line{
    border-top: 0.5px solid white;
    margin: 0 30px;
    width: 250px;
}
.ssnDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
/* propiedad para separar elementos dentro de un div */
.space-x-1 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.25rem * var(--tw-space-x-reverse)); /* Espacio horizontal reducido a 0.25rem */
    margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse))); /* Espacio horizontal reducido a 0.25rem */
}

.ssnTitle{
    font-size: 25px;
    margin: 0;
}
.lineSsn{
    height: auto;
    border: 1px solid white;
    height: 25px;
}
.imgSsn{
    width: 30px;
}
.superintendencia{
    font-size: 10px;
    width: 120px;
}
.textFooter{
    color: white;
    padding-bottom: 30px;
    text-align: start;
    position: relative;
    width: 100%;
}
.textFooter p{
    line-height: 1.5;
}
.elServicio{
    font-weight: bold;
}
@media (min-width: 500px) {
    .line {
        width: 300px;
    }
}
@media (min-width: 800px) {
    .firstImageDiv{
        height: 80vh;
    }
    .formContainer{
        display: block;
    }
    .formContainerMobile{
        display: none;
    }
    .whatsappDiv{
        display: flex;
    }
    .whatsappDivMobile{
        display: none;
    }
    .sloganHeader{
        width: 350px;
        align-items: center;
        justify-content: start;
    }
    .titleName{
        width: 250px;
        padding-right: 10px;
        font-size: 25px;
    }
    .firstTitleDiv{
        top: 80%;
    }
    .textfirstTitle{
        font-size: 30px;
    }
    .incluyenTitle{
        padding-top: 20px;
        font-size: 30px;
    }
    .tiposIncluyenContainer{
        display: flex;
        justify-content: space-around;
        padding: 40px 0;
    }
    .encontraTitle{
        font-size: 30px;
    }
    .opcionesCotizacionContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .opcionesCotizacion{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .contactContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px 0px;
    }
    .lineResponsive{
        border-top: 1px solid white;
        margin: 0 40px;
    }
    .ssnDiv{
        height: 60px;
    }
    .line{
        display: none;
    }
}
@media (min-width: 1200px) {
    .firstImageDiv{
        height: 90vh;
    }
    .contactContainer{
        padding: 80px 0;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .lineResponsive{
        border: none;
        margin: 0;
    }
    .line{
        display: block;
        height: 60px;
        border-right: 1px solid white;
        width: 1px;
        margin: 0;
    }
    .formContainer{
        height: 80%;
    }
    .botonSiguienteDiv{
        padding: 100px 0 30px 0;
    }
    .whatsappDiv{
        padding: 20px 0 0 0;
    }
    .sloganHeader{
        width: 500px;
        padding-left: 50px;
    }
    .titleName{
        font-size: 40px;
        width: auto;
    }
    .textfirstTitle{
        font-size: 45px;
    }
    .opcionesCotizacionContainer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    .imgIncluyen{
        width: 100px;
    }
    .titleTipos{
        font-size: 20px;
    }
    .encontraTitle{
        padding: 0px 0 30px 0;
    }
    .header{
        padding-top: 40px;
    }
    footer{
        padding: 0 60px;
    }
}

/* altura */
@media screen and (max-height: 600px) {
    .cotizaTuAuto{
        margin: 0;
        padding-bottom: 15px;
    }
    .whatsappDiv{
        height: 120px;
    }
    .nameInputForm{
    }
    .contactate{
        padding: 0;
    }
    .custom-select{
        height: 40px;
    }
    .botonSiguienteDiv{
        padding: 20px 0 0 0;
    }
}